{{ $path := split .URL "/" }}

{{ if $.Page.IsHome }}
  <span>Start</span>
{{ else }}
  <span><a href="{{ $.Site.BaseURL }}">Start</a><i class='fa fa-angle-right'></i></span>
{{ end }}

{{ partial "general/breadcrumbs_recursive.html" (dict "sections" .Site.Home.Sections "level" 1 "path" $path "dir" .URL "current" . ) }}

{{ if and (eq .Kind "section") (eq (len $path) 2)}}
  <span>{{ if (isset $.Params "alttitle") }}{{ $.Params.alttitle }}{{ else }}{{ $.Title }}{{ end }}</span>
{{ end }}

{{ if eq .Kind "page" }}
  <span>{{ if (isset $.Params "alttitle") }}{{ $.Params.alttitle }}{{ else }}{{ $.Title }}{{ end }}</span>
{{ end }}