{{ $sections := .sections }}
{{ $level := .level }}
{{ $path := .path }}
{{ $dir := .dir }}
{{ $current := .current }}

{{ range $sections }}
	{{ $section := index $path $level }}
	{{ $aux := split .URL "/" }}
	{{if eq $section (index $aux $level) }}
    <span>
    {{if ne .URL $dir }}<a href="{{.URL}}">{{ end }}
		
		{{ if (isset .Params "alttitle") }}{{ .Params.alttitle }}{{ else }}{{ .Title }}{{ end }}
	  {{if ne .URL $dir }}</a><i class='fa fa-angle-right'></i>{{ end }}	
	  {{ if gt (len .Sections) 0 }}</span>{{ end }}
		{{ partial "general/breadcrumbs_recursive.html" (dict "sections" .Sections "level" (add $level 1) "path" $path "dir" $dir "current" $current ) }}
	{{ end }}
{{ end }}
